<h1>Create your post</h1>
<form method="POST" enctype="multipart/form-data">
  <textarea name="content" placeholder="The content for your post..."></textarea>

  <label for="input-picture">Picture</label>
  <input type="file" id="input-picture" name="picture" placeholder="Post picture" />  

  <label for="input-picture-name">Picture name</label>
  <input type="text" id="input-picture-name" name="description" placeholder="Picture name" />

  <button>Create Post</button>
</form>